* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 13px;
    font-family: Raleway, sans-serif;

}


@font-face {
    font-family: 'Raleway-Bold';
    src: url('../fonts/Raleway-Bold.eot');
    src: url('fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-Bold.woff') format('woff'),
    url('../fonts/Raleway-Bold.ttf') format('truetype'),
    url('../fonts/Raleway-Bold.svg#Raleway-Bold') format('svg');
}

@font-face {
    font-family: 'Raleway-Thin';
    src: url('../fonts/Raleway-Thin.eot');
    src: url('../fonts/Raleway-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-Thin.woff') format('woff'),
    url('../fonts/Raleway-Thin.ttf') format('truetype'),
    url('../fonts/Raleway-Thin.svg#Raleway-Thin') format('svg');
}
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.eot');
    src: url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-Regular.woff') format('woff'),
    url('../fonts/Raleway-Regular.ttf') format('truetype'),
    url('../fonts/Raleway-Regular.svg#Raleway') format('svg');
}

html {
    font-family: Raleway, sans-serif;
}

.top {
    width: 100%;
    background-color: ;
    line-height: 50px;
    background-color: #000000;
    height: 50px;
    color: white;
    max-width: 100%;
    font-family: Raleway-Bold;
    font-size: 13px;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding left: 20px;
    padding-right: 20px;
    position: relative;
    
}


.menu {
    float: right;
    text-transform: uppercase;
    margin-right: 5%;
    padding-top: -10px;
}

ul {
    list-style: none;
}

.logo {
    float: left;
    margin: auto;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    position: absolute;
    top:3px;
    left: 68px;
}

.menuInt {
    
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.bigChair {
    background-color: #F7F7F7;
    height: 400px;
    max-width: 100%;

}
.text {
    width: 450px;
    height: 100px;
    text-align: center;
    position: absolute;
    right: 114px;
    bottom: -198px;

}

h1 {
    position: absolute;
    right: 172px;
    bottom: -72px;
    font-size: 40px;
    text-transform: uppercase;


}

.chair {
    width: 470px;
    height: 337px;
    background-image: url("../images/black_chair.png");
    position: absolute;
    right: 650px;
    bottom: -300px;
}

.seeMore {
    position: absolute;
    right: 400px;
    bottom: -600px;
}


chairImage{
    width: 100%;
    height: 350px;
}

.chairBox{
    width: 330px;
    height: 225px;
    /*border: 1px solid red;*/
}
.chairFirstArticle{
    position: absolute;
    left: 68px;
    top: 28px;
    background-image: url("../images/box1_img.jpg");
}

.chairSecond{
    position: absolute;
    left: 425px;
    top: 28px;
    background-image: url("../images/box2_img.jpg");
}


.color{
    width: 100%;
    height: 62px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 148px;
}



.chairBox3 {
    font-size: 13px;
    line-height: 16px;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 24px;
    padding-right: 24px;

}
