@import url('https://fonts.googleapis.com/css?family=Raleway');

@font-face {
    font-family: 'Raleway-Bold';
    src: url('../fonts/Raleway-Bold.eot');
    src: url('fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-Bold.woff') format('woff'),
    url('../fonts/Raleway-Bold.ttf') format('truetype'),
    url('../fonts/Raleway-Bold.svg#Raleway-Bold') format('svg');
}

@font-face {
    font-family: 'Raleway-Thin';
    src: url('../fonts/Raleway-Thin.eot');
    src: url('../fonts/Raleway-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-Thin.woff') format('woff'),
    url('../fonts/Raleway-Thin.ttf') format('truetype'),
    url('../fonts/Raleway-Thin.svg#Raleway-Thin') format('svg');
}
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.eot');
    src: url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-Regular.woff') format('woff'),
    url('../fonts/Raleway-Regular.ttf') format('truetype'),
    url('../fonts/Raleway-Regular.svg#Raleway') format('svg');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 13px;
    font-family: Raleway, sans-serif;

}

html {
    font-family:"Raleway", sans-serif;

}

.top {
    width: 100%;
    line-height: 50px;
    background-color: #000000;
    height: 50px;
    color: white;
    max-width: 100%;
    font-family: "Raleway-Bold";
    font-size: 13px;
}
.green {
    color: #23B59C;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bolder;
}

.green_small{
    color: #23B59C;
}
.container {
    margin: 0 auto;
    max-width: 1200px;
    padding left: 20px;
    position: relative;
    
}


.menu {
    float: right;
    text-transform: uppercase;
    margin-right: 5%;
    padding-top: -10px;
}

ul {
    list-style: none;
}

.logo {
    float: left;
    margin: auto;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    position: absolute;
    top:3px;
    left: 68px;
}

.menuInt {
    
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.bigChair {
    background-color: #F7F7F7;
    height: 400px;
    max-width: 100%;

}
.text {
    width: 450px;
    height: 100px;
    position: absolute;
    right: 114px;
    bottom: -208px;
    text-align: center;
    line-height: 20px;
    margin: 20px 10px;
    font-size: 14px;

}

h1 {
    position: absolute;
    right: 172px;
    bottom: -72px;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bolder;


}

.chair {
    width: 580px;
    height: 447px;
    background-image: url("../images/black_chair.png");
    position: absolute;
    right: 568px;
    bottom: -395px;
    background-repeat: no-repeat;
    background-size: contain;
}

.seeMore {
    position: absolute;
    right: 227px;
    bottom: -227px;
    width: 260px;
    height: 50px;
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
    background-color: #23B59C;
    border-radius: 12px;
    margin: auto;
}

.seeMore_link {
    text-decoration: none;
    color: white;
    font-size: 24px;


}


.chairImage {
    width: 100%;
    height: 350px;
    position: relative;
}

.chairBox{
    width: 330px;
    height: 225px;

}
.chairFirstArticle{
    position: absolute;
    left: 68px;
    top: 28px;
    background-image: url("../images/box1_img.jpg");
}

.chairSecond{
    position: absolute;
    left: 425px;
    top: 28px;
    background-image: url("../images/box2_img.jpg");
}


.color{
    width: 100%;
    height: 62px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 148px;
}



.chairBox3 {
    font-size: 13px;
    line-height: 16px;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 24px;
    padding-right: 24px;

}
.description_text:last-child{
    margin: 20px;
}

.desription {
    position: absolute;
    width: 315px;
    height: 250px;
    left: 778px;
    top: 28px;
    border: 1.5px solid lightgrey;

}

.description_text {
    text-align: justify;
    line-height: 20px;
    margin: 20px 10px;
}

header {
    text-transform: uppercase;
    font-size: 16px;
    border-bottom: 4px solid lightseagreen


}

.price_list {
    display: inline-block;
}